* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

button, input[type="text"] {
  padding: 5px;
}

button:hover {
  cursor: pointer;
}

.container {
    max-width: 600px;
    margin: 0 auto;
}
  
#task-select {
  width: 350px;
  padding-left: 0;
  display: block;
  font-style: italic;
  font-size: 20px;
  margin-bottom: 15px;
}


.reward-list > li {
  margin-bottom: 20px;
  border: 1px solid grey;
  padding: 20px;
}

#js-reward-list-entry {
  display: block;
  font-style: italic;
  font-size: 20px;
  margin-bottom: 15px;
}

.reward-item__checked {
  text-decoration: line-through;
}
.tasks-item__checked{
  text-decoration: line-through;
}